<form class="body">
        <div class="input">
            <h2>Hide A Song |</h2>
            <input type="text" class="input" id="songId" placeholder="Song ID" required autofocus>
        </div>
        <br>
        <div class="input">
            <input type="text" class="input" id="Hide" placeholder="Hide()/Show()" required autofocus>
        </div>
        <br>
        <br>
        <br>
        <div class = "input">
        <button type="submit" (click) = 'HideSong()' routerLink = "/AdminHome"class="input bottom2">Process</button>
        </div>
    </form>
    <form>
    <div class="input">
        <h2>Deactivate User |</h2>
            <input type="Song" class="input" id="Email" placeholder="Username" required autofocus>
        </div>
        <br>
        <div class="input">
            <input type="Username" class="input" id="Deactivate" placeholder="Status" required autofocus>
        </div>
        <br>
        <br>
        <div class = "input">
        <button type="submit" (click) = 'addRating()' routerLink = "/AdminHome"class="input bottom2">Process</button>
        </div>
    </form>
    <body>

