@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap" rel="stylesheet');

$primary: rgb(255, 255, 255);

.container {
    width: 80%;
    margin: 0 auto;
}
body {
    margin: 0;
    height:40em; background-size:cover; width:auto;
    font-family: 'Fjalla One', sans-serif;
    font-size: 15px;
}

header {
    background: $primary;
    padding: 1em 0;
    text-decoration: none;
}

a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    font-size: 25px;
}

a.logo {
    font-weight: bold;

}

nav{
    float: right;

    ul{
        list-style-type: none;
        margin: 0;
        display: flex;

        li a{
            color: #d42c2c;
            padding: 1em;
            font-weight: 0;
            font-size: 15px;

            &:hover{
                background: darken($primary, 10%);
            }
        }

    }
    
}

h1{
   margin-top: 2em; 
}