<form class="body">
    <div class="input">
        <input type="Title" class="input" id="Title" placeholder="Title" required autofocus>
    </div>
    <br>
    <div class="input">
        <input type="Artist" class="input" id="Artist" placeholder="Artist" required autofocus>
    </div>
    <br>
    <div class="input">
        <input type="text" class="input" id="Album" placeholder="Album" required autofocus>
    </div>
    <br>
    <div class="input">
        <input type="Year" class="input" id="Year" placeholder="Year" required autofocus>
    </div>
    <br>
    <div class="input">
        <input type="text" class="input" id="Genre" placeholder="Genre" required autofocus>
    </div>
    <br>
    <br>
    <div class = "input">
    <button type="submit" (click) = 'addSong()' class="bottom2" routerLink = "/Music/music">Post</button>
    </div>
</form>