<h1>Songs |</h1>
<br>
<br>
<button class = "addasong" routerLink="/Music/addSong" id = "addSong">Add A Song</button>
<br>
<br>

<body>
<ul>
    <li *ngFor = "let s of song">
        <div class = "margin">
        <div>
        Title:<span class = "color"> {{s.Title}}</span> 
        </div>
        <div>
        Artist:<span class = "color"> {{s.Artist}}</span> 
        </div>
        <div>
        Album:<span class = "color"> {{s.Album}}</span> 
        </div>
        <div>
        Year:<span class = "color"> {{s.Year}}</span> 
        </div>
        <div>
        Genre:<span class = "color"> {{s.Genre}}</span> 
        </div>
        <div>
        Rating:<span class = "color2"> {{s.Rating}}</span> 
        </div>
    </div>
    </li>
</ul>
</body>