.music{
    color: #b64040;
}
.form-control {
    position: relative;
    box-sizing: border-box;
    align-items: center;
    height: auto;
    padding: 10px;
    font-size: 15px;
  }
.bottom {
  margin-bottom: 10px;
  margin-top: 1px;
  background-color: #b64040;
  border: none;
 
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  align-items: baseline;
  margin-right: 10px;
  margin-left: 300px;
  }