.music{
    color: #d42c2c;
}
.form-control {
    position: relative;
    box-sizing: border-box;
    align-items: center;
    height: auto;
    padding: 10px;
    font-size: 15px;
  }
.bottom {
    margin-top: -1px;
    margin-bottom: 1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }