<header>
  <div class ="container">
    <a href ="#" routerLink="/Home" class = "logo"><img src="http://icons.iconarchive.com/icons/dtafalonso/yosemite-flat/512/Music-icon.png" style = "width:30px;height:30px;">Music Lab&trade;</a>
      <nav>
        <ul>
          <li><a href="#" routerLink= "/Home">Home</a></li>
          <li><a href="#" routerLink= "/LogIn">Log In</a></li>
          <li><a href="#" routerLink= "/Registration">Registration</a></li>
          <li><a href="#" routerLink= "/Music/music">Music</a></li>
          <li> <a href="#" routerLink = "/Policies">Privacy Policy</a></li>
          <li> <a href="#" routerLink = "/AdminHome">Admin Homepage</a></li>
          <li> <a href='#' routerLink = "/DMCA">DMCA Policy</a></li>
        </ul>
      </nav>
  </div>
</header>

<div class = "container">
    <router-outlet></router-outlet>
</div>