<head>
        <title>Registration</title>
        
        
        <style >
              .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
              }
        
              @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                  font-size: 3.5rem;
                }
              }
            </style>
          </head>
          <body class="text-center">
                    <form class="form-signin" name = "register">
                        <h1 class="h3 mb-3 font-weight-normal">Register |</h1>
                        <input type="email" id = "Email" name = "Email" class="form-control top" placeholder="Email Address"required autofocus >
                        <input type="password" id = "Password" name = "Password" class="form-control bottom" placeholder="Password" required autofocus>
                        <p> </p>
                        <button class="form-control bottom2" (click) = 'addUser()' type = "submit">Register</button>
                <p class="mt-5 mb-3 text-muted">&copy; Salman Janvekar</p>
            </form>
       
        </body>