<form class="body">
        <div class="input">
            <input type="Song" class="input" id="Song" placeholder="Song Name" required autofocus>
        </div>
        <br>
        <div class="input">
            <input type="Username" class="input" id="Username" placeholder="Username" required autofocus>
        </div>
        <br>
        <div class="input">
            <input type="Number" class="input" id="Rating" placeholder="Rating (1 - 5)" required autofocus>
        </div>
        <br>
        <div class="input">
            <input type="Review" class="input" id="Review" placeholder="Review" required autofocus>
        </div>
        <br>
        <br>
        <div class = "input">
        <button type="submit" (click) = 'addSong()' class="input bottom2" routerLink = "/Music/music">Post</button>
        </div>
    </form>
