<form class="body">
        <div class="input">
            <input type="Song" class="input" id="Track" placeholder="Song Name" required autofocus>
        </div>
        <br>
        <div class="input">
            <input type="Username" class="input" id="Person" placeholder="Username" required autofocus>
        </div>
        <br>
        <div class="input">
            <input type="Number" class="input" id="Rating" placeholder="Rating (1 - 5)" required autofocus>
        </div>
        <br>
        <div class="input">
            <input type="Review" class="input" id="Review" placeholder="Review" required autofocus>
        </div>
        <br>
        <br>
        <div class = "input">
        <button type="submit" (click) = 'addRating()' routerLink = "/Music/music"class="input bottom2">Post</button>
        </div>
    </form>
    <body>
     <span class="heading">User Ratings
            <p></p>
            <hr style="border:3px solid #f1f1f1">
            <body>
                        <div *ngFor = "let r of review">
                            <div class = "margin">
                            <div>
                                Username: <span class = "color"> {{r.Person}}</span>
                            </div>
                            <div>
                                Rating:<span class = "color"> {{r.Rating}}</span> 
                            </div>
                            <div>
                                Review:<span class = "color"> {{r.Review}}</span> 
                            </div>
                        <br>
                        <br>

                        </div>
                        </div>
                    <div>
                    <br>
                    <p>  </p>
                    <br>
                            <button class = "addareview" routerLink="/Music/music" id = "input bottom2">Back</button>
                    </div>
    </body>
            
